name: Static checks
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  eslint:
    name: eslint
    runs-on: ubuntu-latest
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.9.1
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run eslint
        uses: reviewdog/action-eslint@v1
        with:
          reporter: github-pr-review
          filter_mode: nofilter
          fail_on_error: true
          workdir: src
  tsc:
    name: typescript typecheck
    runs-on: ubuntu-latest
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.9.1
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Typecheck
        uses: EPMatt/reviewdog-action-tsc@v1
        with:
          reporter: github-pr-review
          filter_mode: nofilter
          fail_on_error: true
